[submodule "app/src/applications/2048/2048_lib"]
	path = app/src/applications/2048/2048_lib
	url = https://github.com/100askTeam/lv_lib_100ask.git
[submodule "hardware/ZSWatch-HW"]
	path = hardware/ZSWatch-HW
	url = https://github.com/jakkra/ZSWatch-HW.git
[submodule "sensor-fusion"]
	path = app/src/ext_drivers/fusion
	url = https://github.com/xioTechnologies/Fusion.git
